@use "./typography" as *;

.numbersNew, .operatorNew, .resetNew, .onButtonNew, .dotNew, .negativeNew {

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 90%;
    width: 90%;
   
}

.resultNew, .tempDisplayNew {
    width: 98%;
    height: 98%;
}

.zeroNew {
    height: 90%;
    border-radius: 50px;
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: left;

    span {
        margin-left: 9vw;
    }
}

.resultNew, .tempDisplayNew {
    display: flex;
    justify-content: end;
    align-items: center ;
    font-family: Helvetica;
    font-size: 2.3rem;
}