@font-face {
    font-family: "Hyperspace";
    src: url(../resources/Hyperspace\ Bold.ttf);
}

@font-face {
    font-family: "Vector";
    src: url(../resources/VectorBattle-e9XO.ttf);
}

@font-face {
    font-family: "squareHead";
    src: url(../resources/sf-square-head.condensed.ttf);
}


$screenFont: Hyperspace;
$buttons: Vector;
$other: squarehead;