@use "./animation" as *;
@use "./gridPositioning" as *;
@use "./buttonsDesign" as *;
@use "./animation" as *;
@use "./onlyCSSanimation" as *;
@use "./colors" as *;
@use "./slider" as *;
@use "./buttonDesignIphone" as *;
@use "./colorsIphone" as *;
@use "./gridPositioningIphone" as *;


* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    filter: brightness(130%);
    font-weight: bolder;
    border: 2px solid rgb(179, 66, 66);
}
