.slideRight {
  -webkit-animation: slideRight;
          animation: slideRight;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slideRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(350%);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(350%);
  }
}
.slideLeft {
  -webkit-animation: slideLeft;
          animation: slideLeft;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slideLeft {
  0% {
    transform: translateX(350%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(350%);
  }
  100% {
    transform: translateX(0%);
  }
}
.CalculatorGrid {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5vh;
  width: 100vh;
  height: 100vh;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.CalculatorGrid .calculator {
  grid-row: 1/2;
  grid-column: 1/4;
}
.CalculatorGrid .onButton {
  grid-row: 1/2;
  grid-column: 4/5;
}
.CalculatorGrid .tempDisplay {
  grid-row: 2/3;
  grid-column: 1/5;
}
.CalculatorGrid .result {
  grid-row: 3/4;
  grid-column: 1/5;
}
.CalculatorGrid .zero {
  grid-row: 8/9;
  grid-column: 1/3;
}
.CalculatorGrid .dot {
  grid-row: 8/9;
  grid-column: 3/4;
}
.CalculatorGrid .equal {
  grid-row: 8/9;
  grid-column: 4/5;
}
.CalculatorGrid .one {
  grid-row: 7/8;
  grid-column: 1/2;
}
.CalculatorGrid .two {
  grid-row: 7/8;
  grid-column: 2/3;
}
.CalculatorGrid .three {
  grid-row: 7/8;
  grid-column: 3/4;
}
.CalculatorGrid .plus {
  grid-row: 7/8;
  grid-column: 4/5;
}
.CalculatorGrid .four {
  grid-row: 6/7;
  grid-column: 1/2;
}
.CalculatorGrid .five {
  grid-row: 6/7;
  grid-column: 2/3;
}
.CalculatorGrid .six {
  grid-row: 6/7;
  grid-column: 3/4;
}
.CalculatorGrid .minus {
  grid-row: 6/7;
  grid-column: 4/5;
}
.CalculatorGrid .seven {
  grid-row: 5/6;
  grid-column: 1/2;
}
.CalculatorGrid .eight {
  grid-row: 5/6;
  grid-column: 2/3;
}
.CalculatorGrid .nine {
  grid-row: 5/6;
  grid-column: 3/4;
}
.CalculatorGrid .moltiplication {
  grid-row: 5/6;
  grid-column: 4/5;
}
.CalculatorGrid .reset {
  grid-row: 4/5;
  grid-column: 1/2;
}
.CalculatorGrid .negative {
  grid-row: 4/5;
  grid-column: 2/3;
}
.CalculatorGrid .percentage {
  grid-row: 4/5;
  grid-column: 3/4;
}
.CalculatorGrid .division {
  grid-row: 4/5;
  grid-column: 4/5;
}
.CalculatorGrid .extraOptions {
  grid-row: 9/10;
  grid-column: 1/5;
}

@font-face {
  font-family: "Hyperspace";
  src: url(../resources/Hyperspace\ Bold.ttf);
}
@font-face {
  font-family: "Vector";
  src: url(../resources/VectorBattle-e9XO.ttf);
}
@font-face {
  font-family: "squareHead";
  src: url(../resources/sf-square-head.condensed.ttf);
}
.numbers, .operator, .reset, .onButton, .dot, .negative {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2%;
  height: 90%;
  width: 90%;
}

.result, .tempDisplay {
  width: 98%;
  height: 98%;
  border-radius: 2%;
}

.zero {
  height: 90%;
  border-radius: 2%;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result, .tempDisplay {
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: Hyperspace;
  font-size: 2.3rem;
  font-weight: bold;
}

.onButton {
  background-color: rgb(230, 96, 96);
}

.button:active, .onButton:active {
  box-shadow: inset 0px 0px 10px #090909;
}

.buttonNew:active, .onButtonNew:active {
  filter: brightness(130%);
}

.numbers, .zero, .dot {
  background-color: rgb(65, 61, 56);
  color: antiquewhite;
  font-family: Vector;
  font-size: 1.5rem;
}

.CalculatorGrid {
  background-color: antiquewhite;
}

.reset, .onButton {
  background-color: rgb(189, 44, 44);
  color: antiquewhite;
  font-family: Vector;
  font-size: 1.5rem;
}

.operator, .negative, #percentage {
  background-color: rgb(41, 84, 240);
  color: antiquewhite;
  font-family: Vector;
  font-size: 1.5rem;
}

.calculator {
  color: rgb(65, 61, 56);
  font-family: Vector;
  font-size: 2rem;
  justify-self: self-start;
  margin-left: 5vw;
  font-weight: bolder;
}

.tempDisplay, .result {
  background-color: rgb(65, 61, 56);
  color: rgb(192, 12, 12);
  padding-right: 2vw;
}

.changeStyle {
  grid-row: 9/10;
  grid-column: 2/4;
  background-color: rgb(65, 61, 56);
  border-radius: 25px;
  width: 60%;
  height: 50%;
  display: flex;
  align-items: center;
}
.changeStyle .slider {
  border-radius: 50%;
  background-color: rgb(189, 44, 44);
  height: 60%;
  width: 20%;
  margin-left: 2.5vw;
}

.grandma {
  font-family: squarehead;
  text-align: end;
  font-size: 1.2rem;
  transform: translateX(7vw);
}

.slick {
  font-family: Helvetica;
  text-align: start;
  font-size: 1.2rem;
  transform: translateX(-7vw);
}

.numbersNew, .operatorNew, .resetNew, .onButtonNew, .dotNew, .negativeNew {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 90%;
  width: 90%;
}

.resultNew, .tempDisplayNew {
  width: 98%;
  height: 98%;
}

.zeroNew {
  height: 90%;
  border-radius: 50px;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: left;
}
.zeroNew span {
  margin-left: 9vw;
}

.resultNew, .tempDisplayNew {
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: Helvetica;
  font-size: 2.3rem;
}

.numbersNew, .zeroNew, .dotNew {
  background-color: #505050;
  color: rgb(255, 255, 255);
  font-family: Helvetica;
  font-size: 1.5rem;
}

.CalculatorGridNew {
  background-color: rgb(0, 0, 0);
}

.resetNew, .onButtonNew {
  background-color: #D4D4D2;
  color: rgb(0, 0, 0);
  font-family: Helvetica;
  font-size: 1.5rem;
}

.negativeNew, #percentageNew {
  background-color: #D4D4D2;
  color: rgb(0, 0, 0);
  font-family: Helvetica;
  font-size: 1.5rem;
}

.operatorNew {
  background-color: #FF9500;
  color: white;
  font-family: Helvetica;
  font-size: 1.5rem;
}

.calculatorNew {
  color: rgb(0, 0, 0);
}

.resultNew {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding-right: 2vw;
}

.tempDisplayNew {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.CalculatorGridNew {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5vh;
  width: 100vh;
  height: 100vh;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.CalculatorGridNew .calculatorNew {
  grid-row: 1/2;
  grid-column: 1/4;
}
.CalculatorGridNew .onButtonNew {
  grid-row: 1/2;
  grid-column: 4/5;
}
.CalculatorGridNew .tempDisplayNew {
  grid-row: 2/3;
  grid-column: 1/5;
}
.CalculatorGridNew .resultNew {
  grid-row: 3/4;
  grid-column: 1/5;
}
.CalculatorGridNew .zeroNew {
  grid-row: 8/9;
  grid-column: 1/3;
}
.CalculatorGridNew .dotNew {
  grid-row: 8/9;
  grid-column: 3/4;
}
.CalculatorGridNew .equalNew {
  grid-row: 8/9;
  grid-column: 4/5;
}
.CalculatorGridNew .one {
  grid-row: 7/8;
  grid-column: 1/2;
}
.CalculatorGridNew .two {
  grid-row: 7/8;
  grid-column: 2/3;
}
.CalculatorGridNew .three {
  grid-row: 7/8;
  grid-column: 3/4;
}
.CalculatorGridNew .plus {
  grid-row: 7/8;
  grid-column: 4/5;
}
.CalculatorGridNew .four {
  grid-row: 6/7;
  grid-column: 1/2;
}
.CalculatorGridNew .five {
  grid-row: 6/7;
  grid-column: 2/3;
}
.CalculatorGridNew .six {
  grid-row: 6/7;
  grid-column: 3/4;
}
.CalculatorGridNew .minus {
  grid-row: 6/7;
  grid-column: 4/5;
}
.CalculatorGridNew .seven {
  grid-row: 5/6;
  grid-column: 1/2;
}
.CalculatorGridNew .eight {
  grid-row: 5/6;
  grid-column: 2/3;
}
.CalculatorGridNew .nine {
  grid-row: 5/6;
  grid-column: 3/4;
}
.CalculatorGridNew .moltiplication {
  grid-row: 5/6;
  grid-column: 4/5;
}
.CalculatorGridNew .resetNew {
  grid-row: 4/5;
  grid-column: 1/2;
}
.CalculatorGridNew .negativeNew {
  grid-row: 4/5;
  grid-column: 2/3;
}
.CalculatorGridNew .percentage {
  grid-row: 4/5;
  grid-column: 3/4;
}
.CalculatorGridNew .division {
  grid-row: 4/5;
  grid-column: 4/5;
}

* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(206, 164, 109);
}

.active {
  filter: brightness(130%);
  font-weight: bolder;
  border: 2px solid rgb(179, 66, 66);
}

.power {
  background-color: green;
}

@media screen and (min-width: 1000px) {
  .CalculatorGrid, .CalculatorGridNew {
    width: 30%;
    height: 90%;
  }
  .grandma {
    transform: translateX(-2%);
  }
  .slick {
    transform: translateX(2%);
  }
  .changeStyle .slider {
    margin-left: 0.5vw;
  }
}/*# sourceMappingURL=style.css.map */