@use "./gridPositioning" as *;
@use "./buttonsDesign" as *;
@use "./animation" as *;
@use "./onlyCSSanimation" as *;
@use "./colors" as *;

* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 44, 44);
}

.active {
    color:red;
    font-weight: bolder;
}
