@use "./animation" as *;
@use "./gridPositioning" as *;
@use "./buttonsDesign" as *;
@use "./animation" as *;
@use "./onlyCSSanimation" as *;
@use "./colors" as *;
@use "./slider" as *;
@use "./buttonDesignIphone" as *;
@use "./colorsIphone" as *;
@use "./gridPositioningIphone" as *;


* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 164, 109);
}

.active {
    filter: brightness(130%);
    font-weight: bolder;
    border: 2px solid rgb(179, 66, 66);
}

.power {
    background-color: green;
}

@media screen and (min-width: 1000px) {
    
    .CalculatorGrid, .CalculatorGridNew {

        width: 30%;
        height: 90%;
    }

    .grandma {
        transform: translateX(-2%);
    }

    .slick {
        transform: translateX(2%);
    }

    .changeStyle {
        .slider {
            margin-left: 0.5vw;
        }
    }

  }
